body {
  font-family: "Raleway", sans-serif;
}
.cities {
  padding: auto;
  text-align: center;
  width: auto;
  font-size: 14px;
  font-family: "Nunito Sans", sans-serif;
  justify-content: center;
}
.form-control {
  width: 580px;
  margin: 20px 25px;
}
.btn {
  width: 100px;
  margin: 20px 5px;
  font-family: "Raleway", sans-serif;
}
.box {
  background-color: rgb(215, 215, 215);
  text-align: left;
  padding: 15px 15px;
  height: 200px;
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.forecast {
  margin: 25px;
  text-align: center;
  position: inherit;
  width: auto;
  font-family: "Nunito Sans", sans-serif;
}
.container {
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 800px;
  max-height: 600px;
}
.currently {
  font-family: "Nunito Sans", sans-serif;
  font-size: 19px;
}
.city {
  font-family: "Raleway", sans-serif;
}

#current-button {
  background-color: green;
  border-color: green;
}
.author {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-style: italic;
  text-align: center;
}
#search_form {
  margin-right: 0px;
}
.input-group > .form-control {
  width: 100%;
}

#weather-desc {
  list-style: none;
}

#units a {
  text-decoration: none;
}
.weather-temp .active {
  color: black;
  cursor: default;
}

.weather-temp {
  display: flex;
}
.fc-max-temp {
  font-size: 16px;
}
.fc-min-temp {
  opacity: 0.5;
  font-size: 16px;
}
.fc-day {
  font-size: 18px;
}
.fc-icon {
  width: 80px;
  height: 80px;
}

#forecast {
  display: block;
  width: auto;
  margin-left: 30px;
}
